%p
  = f.label :name
  = f.text_field :name
%p
  = f.label :email
  = f.text_field :email
%p
  = f.label :phone
  = f.text_field :phone
%p
  = f.label :mobile_phone
  = f.text_field :mobile_phone
%p
  = f.label :aim_screenname
  = f.text_field :aim_screenname
%p
  = f.label :address
  = f.text_field :address
  = f.label :address2, "&nbsp;"
  = f.text_field :address2
%p
  = f.label :city
  = f.text_field :city
%p
  = f.label :state
  = f.text_field :state, :size => 5
%p
  = f.label :zip
  = f.text_field :zip
%p
  = f.label :country
  = f.country_select :country, [ 'United States', 'Canada' ]
