.person_name
  = link_to person.name, edit_person_path(person)
.email
  = person.email
.phone
  = person.phone
.mobile_phone
  %label Mobile
  = person.mobile_phone
.im_screenname
  %label AIM
  = person.aim_screenname

