.name
  = link_to "Contract #{contract.contract_type}", edit_contract_path( contract )
  for
  .project
    = link_to contract.project.name, edit_project_path( contract.project )
.rate
  - if contract.hourly_rate
    = contract.hourly_rate
    \/hr
  - if contract.fixed_fee
    = contract.fixed_fee
    \/fixed
  - if contract.monthly_fee
    = contract.monthly_fee
    \/monthly
