.project_name
  = link_to project.name, edit_project_path( project )
.org
  = project.organization.name if project.organization
.status
  = project.status
.url
  = project.url
.contact
  = project.primary_contact_name
