.menu
  = link_to "People", people_path
  = link_to "add", new_person_path, :class => 'add button'
  = link_to "Organizations", organizations_path
  = link_to "add", new_organization_path, :class => 'add button'
  = link_to "Projects", projects_path
  = link_to "add", new_project_path, :class => 'add button'
  = link_to "Contracts", contracts_path
  = link_to "add", new_contract_path, :class => 'add button'
